body{
  .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      max-width: 600px;
      width: 100%;
      justify-items: center;
    }

    /* Animação de entrada */
    .card {
      opacity: 0;
      transform: translateY(40px);
      animation: fadeUp 1s ease forwards;
    }
    }